.sidebar-content
{
    box-shadow: var(--shadow-double-small);
    background-color: var(--color-white);
    padding: 20px 10px;
}

.navigation-items li
{
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.navigation-items li a
{
    display: block;
    font-size: 18px;
    color: var(--color-text-link);
}

